@model Jungle.Entities.Vehicle

@{
    ViewData["Title"] = "Details";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <link href="~/css/VehicleDetail.css" rel="stylesheet" />



    <div class="body">
        <h4 style="text-align:center;text-decoration:dashed;">Vehicle Details</h4>
        <table>
            <tr>
                <td>   @Html.DisplayNameFor(model => model.Name)</td>
                <td>     @Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>   @Html.DisplayNameFor(model => model.EntryCost)</td>
                <td>   @Html.DisplayFor(model => model.EntryCost)</td>
            </tr>
            <tr>
                <td>   @Html.DisplayNameFor(model => model.Capacity)</td>
                <td>
                    @Html.DisplayFor(model => model.Capacity)

                </td>
            </tr>

        </table>
        <a style="position:relative;text-decoration:none; color:black; border:none; margin-top:100%; padding: 8px 8px; border-radius:4px;" asp-action="Index" class="foot btn-warning">Back to Vehicle List</a>
    </div>

}

