@model IEnumerable<Jungle.Entities.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label">Search By (Id, Name, Location)</label>
                <input type="text" name="criteria" required class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model != null && Model.Count() == 0)
{
    <span class="alert-info">No Park Found</span>}

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SafariId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GateId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SafariId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCost)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
